@use "./../foundation/global" as *;

.l-mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100;

  display: flex;
  flex-direction: column;

  gap: 22px;
  color: $c-black;
  background-color: $c-secondary;

  padding: 20% 10% 10% 10%;

  &__menu {
    font-family: $f-en;
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__menu-item {
    margin-top: 1rem;
    border-bottom: 1px solid $c-gray--lighter;
    padding-bottom: 1rem;
  }
  &__submenu {
    margin-top: 1rem;
    font-size: 1.4rem;
  }
  &__submenu-item {
    display: flex;
    align-items: center;

    margin-top: 2rem;
    font-weight: normal;
    &::before {
      border-top: 1px solid;
      content: "";
      width: 1rem; /* 線の長さ */
      margin-right: 1rem;
    }
  }
  &__info {
  }
  &__subtitle {
    font-family: $f-en;
    font-size: 1.2rem;
    font-weight: normal;
    margin-bottom: 1rem;
  }

  &__address {
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 2rem;
  }
  &__policy {
    font-size: 1.2rem;
    font-weight: normal;
    color: $c-gray;
  }
  &__btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  &__ {
  }
  &__ {
  }
}
