<header class="l-header">
  <h1 class="l-header__logo">
    <a href="/">
      <img
        src="/logo_lg.png"
        alt="藤原建設工業のロゴ"
        class="l-header__logo-img"
      />
    </a>
  </h1>
  <ul class="l-header__nav">
    <li class="l-header__nav-item">
      <a href="/" class="l-header__nav-link">top</a>
    </li>
    <li class="l-header__nav-item">
      <a href="/company" class="l-header__nav-link">company</a>
    </li>
    <li class="l-header__nav-item">
      <a href="/service" class="l-header__nav-link">service</a>
    </li>
    <li class="l-header__nav-item">
      <a href="/works" class="l-header__nav-link">works</a>
    </li>
    <li class="l-header__nav-item">
      <a href="/news" class="l-header__nav-link">news</a>
    </li>
    <li class="l-header__nav-item -btn-black">
      <a href="/recruit" class="l-header__nav-link -btn">
        <span>recruit</span>
      </a>
    </li>
    <li class="l-header__nav-item -btn-accent">
      <a href="/conatct" class="l-header__nav-link -btn">
        <span>conatct</span>
      </a>
    </li>
  </ul>
</header>
