@use "./../../foundation/global" as *;

.p-company-info {
  display: grid;
  padding-bottom: $size5;
  grid-template-columns: 1fr 360px $size5 480px 1fr;
  & > * {
    grid-column: 2/5;
  }

  &__heading-wrapper {
    grid-column: 2/2;
  }

  // padding-inline: $size5;
  // display: flex;
  // padding-bottom: $size5;

  &__dl-wrapper {
    // width: 680px;
    grid-column: 3/5;
  }
}

@include mq(lg) {
  .p-company-info {
    grid-template-columns: 1fr 360px 1fr 480px 1fr;
  }
}
@include mq(md) {
  .p-company-info {
    grid-template-columns: 1fr 260px 1fr 346px 1fr;
  }
}

@include mq(to-sm) {
  .p-company-info {
    grid-template-columns: 1fr 86% 1fr;
    & > * {
      grid-column: 2/2;
    }

    &__heading-wrapper {
      padding-bottom: 6rem;
    }

    .c-definition {
      &__term {
        flex-basis: 35%;
      }
      &__desc {
        flex-basis: 65%;
        font-size: 1.4rem;
        padding-left: 1rem;
      }
    }
  }
}
