@use "./../../foundation/global" as *;

.p-home-recruit {
  background-color: $c-gray--darker;

  &__inner {
    padding-top: $size3;
    padding-inline: $size5;
    display: flex;
    gap: $size5 * 2;
  }
}
