// ブレークポイント
// @include responsive(xl) {
// }

// ↓↓↓↓↓↓↓↓↓↓↓↓↓
// @media screen and (min-width: 1280px) {
// }

// body {
//   &.js-body {
//     &.is-active {
//       position: relative;
//       cursor: none;
//     }
//   }
// }

// .p-cursor,
// .p-chaser {
//   display: block;
//   opacity: 0;

//   will-change: opacity;
//   position: absolute;
//   top: 0;
//   left: 0;
//   border-radius: 50%;
//   pointer-events: none;
// }

// .p-cursor {
//   &.is-active {
//     z-index: 1001;
//   }
// }

.p-chaser {
  display: none;

  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  background-color: #88b999;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.33, 1, 0.68, 1);
  &.is-active {
    opacity: 1;
  }

  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    letter-spacing: 0.15em;
    font-weight: 600;
    font-size: 1.8rem;
    font-family: Arial, "メイリオ", Meiryo, sans-serif;
    line-height: 1.1111111111;
    transform: translate(-50%, -50%);
  }
}
