@use "./../../foundation/global" as *;

.p-chaser-img {
  display: none;
}

.p-works-detail {
  &__article {
    padding-top: 20rem;
  }

  &__nav {
    position: sticky;
    top: 0;

    height: 100vh;
    margin: -300px 0 0;
    padding: 300px 0 0;
    width: 360px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3.3rem;
  }
  &__item {
    font-size: 2rem;
  }
  &__link {
    position: relative;
    color: $c-gray--lighter;

    &.is-active {
      color: #111111;
      &::before {
        position: absolute;
        top: 50%;
        left: -15px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #88b999;
        content: "";
        transform: translate(0%, -50%);
      }
    }
  }
  &__ {
  }

  &__article {
    display: flex;
    padding-inline: $size5;
  }

  &__content {
    width: 720px;
  }

  &__title {
    font-size: 2.8rem;
    letter-spacing: 0.5rem;
  }
  &__info {
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: space-between;
  }
  time {
    font-family: $f-en;
  }
  &__tag {
    border: solid 1px;
    padding: 1rem;
  }
  &__eyecatch {
    aspect-ratio: 720/510;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__block {
    padding-top: 15rem;
  }
  &__blockTitle {
    font-size: 2.2rem;
    letter-spacing: 0.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $c-black;
  }
  &__blockText {
    padding-top: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
    letter-spacing: 0.3rem;
  }

  &__gallery {
    padding-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__galleryItem {
    flex-basis: 46%;
    margin-bottom: 5rem;
  }
  .c-definition__list {
    padding-top: 5rem;
  }

  &__btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20rem;
  }
  &__btn {
    font-size: 2.5rem;
    padding: 2.5rem 3rem;
    border: 1px solid $c-gray--lighter;
    letter-spacing: 0.3rem;
  }
}

// otherLink
.p-works-detail {
  &__otherLinkInner {
    padding: 10rem 0rem;
  }
  &__otherLinkList {
    display: flex;
    flex-direction: column;
  }
  &__otherLinkItem {
    a {
      display: block;
    }

    border-bottom: 1px solid $c-gray--lighter;
    &:first-child {
      border-top: 1px solid $c-gray--lighter;
    }
  }
  &__otherLink {
    &.-archi:hover {
      background-color: $c-main;
      color: $c-white;
    }
    &.-civil:hover {
      background-color: $c-accent;
      color: $c-white;
    }
    &.-housing:hover {
      background-color: $c-base;
      color: $c-white;
    }
  }
  &__item-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 5rem;
  }
  &__text-left {
  }
  &__item-title {
    font-size: 3.6rem;
    font-family: $f-en;
    font-weight: bold;
    letter-spacing: 0.1rem;
    span {
      font-size: 1.4rem;
      letter-spacing: 0.3rem;
      font-family: $f-base;
    }
  }
  &__text-right {
    display: flex;
    justify-content: flex-end;
    flex-basis: 40%;
    padding-right: 5rem;
    .c-arrow.c-arrow--round {
      transform: scale(1.4);
    }
  }
}

// マウスストーカー

// body {
//   &.js-body {
//     &.is-active {
//       position: relative;
//       cursor: none;
//     }
//   }
// }

.p-cursor,
.p-chaser {
  display: block;
  opacity: 0;

  will-change: opacity;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  pointer-events: none;
}

.p-cursor {
  &.is-active {
    z-index: 1001;
    cursor: none;
  }
}

.p-chaser {
  display: none;

  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 12rem;

  height: 12rem;
  background-color: $c-accent;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.33, 1, 0.68, 1);
  &.is-active {
    opacity: 1;
  }

  .text {
  }
}

body {
  &.is-body {
    position: relative;
    cursor: none;
  }
}

.p-cursor-img,
.p-chaser-img {
  display: block;
  opacity: 0;

  will-change: opacity;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  pointer-events: none;
}

.p-cursor-img {
  &.is-active {
    z-index: 1001;
    cursor: none;
  }
}

.p-chaser-img {
  display: none;

  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.33, 1, 0.68, 1);

  &.is-active {
    opacity: 1;
  }
  figure {
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.33, 1, 0.68, 1);
    &.is-active {
      opacity: 1;
    }
  }
}

.js-cursor-img01,
.js-cursor-img02,
.js-cursor-img03 {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 24rem;
  height: 28rem;
  transform: translate(-50%, -50%);
  img {
    width: 100%;
    height: 100%;
    font-family: "object-fit: cover;";
    object-fit: cover;
  }
}
